
/* ---------- benefit ---------- */
.benefit {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 0 5% 5% 5%;
  div {
    width: 30%;
    height: 25%;
    margin: 0 20px;
  }
  h3 {
    padding-bottom: 20px;
  }
  img {
    width: 70%;
    height: auto;
    margin-top: 5%;
  }
}