/* ---------- commitment ---------- */
.commitment {
  background-color: $color-main;
  display: block;
  text-align: center;
  .explain {
    margin: 0 auto;
    width: 120vh;
    display: flex;
    align-items: center;
    img {
      width: 40%;
    }
  }
  p {
    color: $color-grey;
  }
  h1, h2 {
    color: $color-accent;
  }
  bottom {
    background-color: $color-grey;
  }
}