@import "mixin";
/* ---------- footer ---------- */
footer {
  background-color: $color-grey;
  width: 100%;
  height: 45vh;
  display: flex;
  padding-top: 15px;
  background-color: $color-background;
  div {
    width: 30vw;
    height: 35vh;

    @include tab {
      width: 50%;
      height: 20vh;
    };
    @include sp {
      width: 50%;
      height: 20vh;
    };
  }
  h3 {
    font-size: 2.5rem;
    margin-top: 10px;
    color: $color-main;
    margin-bottom: 10px;
    @include sp {
      font-size: 2rem;
      margin: 0;
      margin: 2px 0;
    };
  }
  h4 {
    margin-left: 35px;
    color: $color-main;
    margin-bottom: 10px;
  }
  a {
    line-height: 4rem;
    @include pc2 {
      font-size: 1.4rem;
    };
    @include tab {
      line-height: 2rem;
    };
    @include sp {
      line-height: 2rem;
    };
  }
  .logo {
    width: 80%;
    height: auto;
    margin: 3% 0 3% 10% ;
    @include tab {
      width: 100px;
      height: auto;
    };
    @include sp {
      margin: 10% 0 3% 15% ;
      width: 80%;
      height: auto;
    };
  }
  .SNS {
    margin: 0 12%;
    @include sp {
      margin-left: 15%;
    };
  }
  img {
    padding-right: 3%;
    @include sp {
      width: 20%;
    };
    
  }
  @include tab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60vh;
  };

  @include sp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 60vh;
  };
}
.copyright {
  margin: 20px 5%;
}