@use "common";
/* ---------- header ---------- */
main {
  height: 110vh;
  width: 100vw;
  background-image: url(/img/BK/top2.png);
  background-repeat: no-repeat;
  background-size:100%;
  header {
    .logo {
      width: 20%;
      height: auto;
      margin: 20px 0 0 3%;
    }
  }
  .top {
    h1 {
      margin: 4% 0 0 10%;
    }
    p {
      margin: 10px 0 10px 10%;
    }
    a {
      margin-left: 10%;
    }
  }
}