/* ---------- subscribe ---------- */
.subscribe {
  background-color: rgb(134, 129, 126);
  text-align: center;
  height: 50vh;
  width: 100vw;
  background-image: url(/img/img/coconuts.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}